In [8]:
import pandas as pd
import ast

df_shots=pd.read_csv('data/df_shots.csv',index_col=[0],converters={1:ast.literal_eval,2:ast.literal_eval,3:ast.literal_eval,7:ast.literal_eval,8:ast.literal_eval,9:ast.literal_eval,18:ast.literal_eval,19:ast.literal_eval,20:ast.literal_eval,25:ast.literal_eval,26:ast.literal_eval})

In [4]:
df_shots.columns

Index(['D', 'T', 'Time', 'Time_to_shoot', 'Shot_result', 'player_id', 'x_ball',
       'y_ball', 'z_ball', 'x_shooter', 'y_shooter', 'quarter', 'clock',
       'Match_id', 'shot_id', 'Shot_type', 'nb_def', 'shooter_pos', 'opp_pos',
       'd_basket', 'angle', 'release_moment', 'shot_duration', 'release_time',
       'opp_position_release', 'player_position_release', 'btpl'],
      dtype='object')

In [50]:
df_odd_data=df_shots[['Match_id']]

In [51]:
def x_shooter(row):
    return(row['player_position_release'][0])

def y_shooter(row):
    return(row['player_position_release'][1])

def x_opp(row):
    return(row['opp_position_release'][0])

def y_opp(row):
    return(row['opp_position_release'][1])


df_odd_data['x1']=df_shots.apply(x_shooter,axis=1)
df_odd_data['y1']=df_shots.apply(y_shooter,axis=1)
df_odd_data['x2']=df_shots.apply(x_opp,axis=1)
df_odd_data['y2']=df_shots.apply(y_opp,axis=1)

/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
players=pd.read_csv('data/players.csv',index_col=[0])

In [53]:
def player(row,players):
    return(players.loc[row['player_id'],'lastName'])

In [54]:
df_odd_data['player']=df_shots.apply(player,players=players,axis=1)

/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
#def shot_result(row):
#    if row['Shot_result']==1:
#        return('Hit')
#    else :
#        return('Miss')
df_odd_data['shot_result']=df_shots['Shot_result']

/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
df_odd_data

,Match_id,x1,y1,x2,y2,player,shot_result
0,1,30.09516,27.81095,26.15986,21.84273,Jackson,1
1,1,31.23315,30.97594,25.89148,36.26039,Jackson,0
2,1,29.46224,20.37734,22.76350,20.60149,Ilyasova,1
3,1,88.38494,46.71738,86.02956,31.94431,Sefolosha,0
4,1,12.72408,47.59182,10.43531,41.02949,Caldwell-Pope,1
...,...,...,...,...,...,...,...
28044,663,4.64662,47.92959,4.79107,35.45871,Hill,0
28045,663,7.07508,2.27135,7.76655,7.24901,George,1
28046,663,9.04939,47.78200,9.70525,45.19768,Ellis,0
28048,663,29.70152,19.83414,20.75211,18.99809,Turner,0
28049,663,26.31229,8.11048,26.87156,13.10000,Hill,1

In [57]:
def time(row):
    return(720-row['clock']+720*(row['quarter']-1))

df_odd_data['time']=df_shots.apply(time,axis=1)

/Users/gabin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [58]:
df_odd_data.to_csv('/Users/gabin/Ordinateur/Documents/CENTRALE_LYON_1A/PaR/Oddata/data/nba_three_points.csv', sep=',', encoding='utf-8')